/* Custom */

/* Left and top tool bar */
.jp-SideBar.p-TabBar,
#jp-top-panel,
.jp-LabShell[data-shell-mode='single-document'] #jp-menu-panel {
  /*  background-color: rgba(34, 33, 54, 0.65);  /* last value is the transparency */
}

/* Background */

/* Neon NIght Style */

/* .jp-LabShell {
  background: linear-gradient(to bottom right, rgba(0, 255, 255, 0.25),
    rgba(180, 0, 255, 0.25), rgba(140, 0, 255, 0.25), rgba(255, 0, 100, 0.25));
}

.lm-DockPanel-tabBar .lm-TabBar-tab.jp-mod-current:before {
  background: linear-gradient(to right,
    #00000000, #3765e7, #a044ca, #ca44a9, #00000000)
}
*/

/* Neon Sunset Style */

/* .jp-LabShell {
  background: linear-gradient(to bottom right, rgba(77, 8, 187, 0.9),
    rgba(16, 16, 80, 0.5), rgba(16, 16, 80, 0.9));
}

.lm-DockPanel-tabBar .lm-TabBar-tab.jp-mod-current:before{
  background: linear-gradient(to right,
  #00000000, #7334cb, #f36f8f, #ac7453, #00000000);
}
*/

/* or use an image as the background */
.jp-Editor {
  /* .xterm .xterm-screen canvas { */
  background-image: url('./images/background.svg');

  /* background-blend-mode: darken; */
  background-repeat: no-repeat;
  background-size: 70%;

  /* background-color: #1117; */
  background-position: 60% 50%; /* right of center */
}

.lm-DockPanel-tabBar .lm-TabBar-tab.jp-mod-current::before {
  /* background: linear-gradient(to right,
    #00000000, #3765e7, #a044ca, #ca44a9, #00000000) */
}

/* Fonts */

/* Code font */
:root {
  /* Code font */

  /* --jp-code-font-family: Monaco, 'HackGen Console NF', 'Source Code Pro', monospace; */

  /* Prompt number of cell */

  /* --jp-cell-prompt-font-family:  'Vibur'; */
}

/* Opened files tab bar */
.lm-DockPanel-tabBar .lm-TabBar-tab,
h1 {
  /*  font-family: 'Neon Bugler';
  font-size: 14px; */
}

/* Search tool */
.jp-DocumentSearch-overlay *,
.filter .bp3-input {
  /*  font-family: 'Neon Bugler';
  font-size: 15px; */
}
